.outerDiv{
    align-items: center;
    -ms-transform: translateY(50%);
  transform: translateY(50%);
}

.mat-card{
    display:flex;
    align-items: center;
    border: 2px solid #7d7f82;
    border-radius: 10px;
    max-width: 300px;
    margin: auto;
    padding: 0px;
    background-color: #7d7f82;
    color: white;
}

.headerTitle{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #fedd32;
    justify-content: center;
    padding: 5px 0px;
    color: #7d7f82;
}

.mat-card-title{
  -ms-transform: translateY(50%);
  transform: translateY(50%);
}

.mat-card-content{
    padding: 10px 0px 20px 0px;
}